
body{
    
    background-image: url(image.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center; 



}
.container{
    max-width: 25%;

    margin: auto;
    background-color: aliceblue;
    border: 2px solid black;
    margin: 200px auto 0px auto;
    border-radius: 10px;
    background-color: bisque;
    
}


button{
    background-color:rgb(106, 126, 6);
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    margin-right: 15px;

}
button:hover{
    background-color: rgb(27, 225, 27);
}
#save-el{
    font-size: 20px;
    font-weight: bolder;
}
#count-el{
    font-size: 60px;
}